:root {
  --s-loader-wrapper-bg-color: rgb(21, 22, 43);
  --s-loader-width: 20px;
  --s-loader-height: var(--s-loader-width);
  --s-loader-border-color-trans: #fff;
  --s-loader-border-color-full: #000;
}

.spinning-loader {
  width: var(--s-loader-width);
  height: var(--s-loader-height);

  border: 5px solid var(--s-loader-border-color-trans);
  border-left-color: var(--s-loader-border-color-full);
  border-radius: 50%;
  background: transparent;

  animation-name: rotate-s-loader;
  animation-iteration-count: infinite;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  position: relative;
  max-width: 1000px;
  padding: 1.5rem;
  margin: auto;
}

@keyframes rotate-s-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
